[submodule "contrail-ansible-deployer"]
	path = contrail-ansible-deployer
	url = https://github.com/Mierdin/contrail-ansible-deployer.git
[submodule "xterm.js"]
	path = xterm.js
	url = https://github.com/Mierdin/xterm.js.git
