.terraform/
.vagrant/
*.log
*tfstate*
*.qcow2*
*account.json*
*.retry
hosts
venv/
*.pyc

# This is where I placed my updated gcp provider
terraform.d/

# This is where ansible places files for copying between instances
tmp/
*.swp
csrx-18.1R1.9.img.bz2

infra/antidote-web/target/

# Certs stuff
platform/ssl/
platform/letsencrypt/

# Docs
docs/.Python
docs/bin/
docs/include/
docs/lib/
docs/_build/
*.DS_Store*
docs/local/
*pip-selfcheck.json
docs/virtualenv/

*billing_override.tf*
*.tfvars

_old_contrail/
*ansiblekey.json

platform/antidote-web/target/

__pycache__

*.img
*.tgz

RANDOM.md