[defaults]
interpreter_python = auto_silent
gather_timeout = 0
stdout_callback = yaml
connection = smart
timeout = 60
deprecation_warnings = False
host_key_checking = False
retry_files_enabled = False
inventory = /antidote/stage0/hosts
