# local      DATABASE  USER  METHOD  [OPTIONS]

local   all             all                                     trust
host    all             all             tf-controller0          md5
host    all             all             tf-compute0             md5
host    all             all             tf-compute1             md5
